<nav class="bg-blue-900 p-4 text-white shadow-md">
  <div class="flex justify-between items-center">
      <h1 class="text-3xl font-bold">Prestabank</h1>
      <ul class="flex gap-6">
          <li><a routerLink="/Home" class="hover:text-gray-300 transition-colors cursor-pointer">Inicio</a></li>
          <li><a routerLink="/Registro" class="hover:text-gray-300 transition-colors cursor-pointer ">Abrir Cuenta</a></li>
          <li><a routerLink="/login" class="hover:text-gray-300 transition-colors">Login</a></li>
      </ul>
  </div>
</nav>
