
<div class="container">
  <div class="left">
    <div class="form">
      <h1>Iniciar Sesión</h1>
      <link rel="stylesheet" href="registro-empleado/registro-empleado.component.css">


      <form id="login-form" th:action="@{/login}" method="post" th:object="${login}">



        <div class="input-block">
          <input th:field="*{username}"  type="text" id="email" class="input" placeholder=" " required>
          <label for="email">Correo Electrónico</label>
        </div>

        <div class="input-block">
          <input th:field="*{password}" type="password" id="password" class="input" placeholder=" " required>
          <label for="password">Contraseña</label>
        </div>

        <button type="submit">Iniciar Sesión</button>
        <div id="error-msg">Por favor, completa todos los campos.</div>
      </form>

      <div class="register">
        <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>

<script>
  // Validación básica del formulario
  document.getElementById('login-form').addEventListener('submit', function (event) {
    const email = document.getElementById('email').value.trim();
    const password = document.getElementById('password').value.trim();
    const errorMsg = document.getElementById('error-msg');

    if (email === '' || password === '') {
      event.preventDefault(); // Evita que el formulario se envíe
      errorMsg.style.display = 'block'; // Muestra el mensaje de error
    } else {
      errorMsg.style.display = 'none'; // Oculta el mensaje de error
    }
  });
</script>

