<div class="body flex items-center justify-center min-h-screen font-sans">
  <div class="flex-container flex flex-col items-center text-center p-4">
    <div class="text-center mt-6 mb-4">
      <h2 class="text-2xl font-semibold text-white drop-shadow-lg">Confirma tu nueva cuenta Prestabank</h2>
    </div>

    <!-- Bank Card -->
    <div class="tarjeta relative bg-gradient-to-r from-indigo-700 to-purple-800 text-white p-6 rounded-2xl shadow-lg w-96 h-56 flex flex-col justify-between">
      <div class="flex justify-between items-center mb-4">
        <img src="./assets/img/logo_blanco.png" alt="Prestabank" class="w-32 self-start">
        <div class="icono">
          <svg class="icono-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 10h18M3 14h18M6 6h0m0 12h0m12-12h0m0 12h0" />
          </svg>
        </div>
        <div class="w-10 h-8 bg-yellow-500 rounded-lg"></div>
      </div>

      <div class="tarjeta-datos flex flex-col gap-3 flex-grow">
        <div class="dato">
          <div class="text-xs opacity-80">Número de Cuenta</div>
          <div class="text-lg font-mono">{{data.numeroCuenta}}</div>
        </div>
        <div class="dato">
          <div class="text-xs opacity-80">Cliente</div>
          <div class="text-lg font-mono">{{data.nombre}}</div>
        </div>
      </div>

      <div class="flex justify-between items-center mt-4">
        <div class="dato">
          <div class="text-xs opacity-80">Fecha de Vencimiento</div>
          <div class="text-lg font-mono">{{data.fechaCaducidad}}</div>
        </div>
        <img src="./assets/img/visa-banca.png" alt="Visa" class="w-12">
      </div>
    </div>

    <!-- Centered Confirm Button -->
    <div class="mt-6 flex justify-center">
      <button (click)="enviar()" class="cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
        Confirmar
      </button>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-center mt-6  py-4 w-full shadow-md">
    <p class="text-sm">&copy; 2025 Prestabank. Todos los derechos reservados.</p>
  </footer>
</div>
