<body>
<!-- El Modal de error -->
<div  id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="cerrarModal()">&times;</span>
        <p th:text="${mensaje}"></p>
    </div>
</div>
<div class="container mx-auto mt-12 p-8 bg-gray-100 rounded-lg shadow-xl max-w-screen-xl">

<div class="text-center mb-8">
  <h2 class="text-4xl font-extrabold text-blue-900">Información del Cliente</h2>
  <p class="text-lg text-gray-600 mt-2">Consulta tus detalles y transacciones más recientes</p>
</div>

<!-- Tarjetas de información -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-8" th:each="dato : ${datos}">

  <!-- Saldo Actual -->
  <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl transition duration-300">
      <h4 class="text-2xl font-semibold text-blue-800">Saldo Actual</h4>
      <p class="text-3xl font-bold text-indigo-600 mt-4">$ {{datos.saldo | number: '1.2-2'}}</p>
  </div>

  <!-- Historial de Transacciones -->
  <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl transition duration-300">
      <h4 class="text-2xl font-semibold text-blue-800">Historial</h4>
      <!-- <div v-if="movimientos.length > 0" class="mt-4">
          <p>
              <strong class="text-blue-600">Última Transacción:</strong>
              <span *ngIf="movimientos && movimientos.length > 0">{{ movimientos[movimientos.length - 1]?.fecha }}</span>
              </p>
          <p>
              <strong class="text-blue-600">Fecha:</strong>
              <span>{{ movimientos[movimientos.length - 1].fecha }}</span>
          </p>
      </div> -->
      <p v-else class="text-gray-500">No hay transacciones registradas.</p>
  </div>


  <!-- Depósitos, Retiros y Transacciones -->
  <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl transition duration-300">
      <h4 class="text-2xl font-semibold text-blue-800">Datos Personales</h4>
      <div class="mt-4">
          <p><strong class="text-green-600">Nombre:</strong><span> {{datos.nombre}} </span></p>
          <p><strong class="text-red-600">Numero de Cuenta:</strong> <span th:text="${dato.numeroCuenta}"> {{datos.numeroCuenta}} </span></p>
          <p><strong class="text-orange-500">Tipo de Cuenta:</strong> <span th:text="${dato.tipoCuenta}"> {{datos.tipoCuenta}} </span></p>
      </div>
  </div>
</div>

<!-- Aplicación móvil -->
<div class="relative mt-24 p-10 bg-gray-50 rounded-lg shadow-lg">
  <div class="absolute inset-0 bg-blue-900 opacity-50 rounded-lg"></div>
  <div class="relative z-10">
      <h3 class="text-2xl font-bold text-white">Prestabank - App Móvil</h3>
      <div class="bg-white mt-6 p-6 rounded-lg shadow-lg">
          <div class="text-center">
              <p class="text-sm text-gray-600">Saldo Disponible</p>
              <p class="text-3xl font-bold text-blue-900" >$ {{datos.saldo | number: '1.2-2'}}</p>
          </div>
          <div class="mt-8 grid grid-cols-2 gap-4 text-center">
              <div onclick="openTransferirModal()" class="bg-blue-600 text-white py-3 rounded-lg shadow-md hover:bg-blue-700 transition duration-300 cursor-pointer">
                  <p>Transferir</p>
              </div>
              <div onclick="openDepositarModal()" class="bg-green-600 text-white py-3 rounded-lg shadow-md hover:bg-green-700 transition duration-300 cursor-pointer">
                  <p>Depositar</p>
              </div>
              <div onclick="abrirPagosModal()" class="bg-yellow-500 text-white py-3 rounded-lg shadow-md hover:bg-yellow-600 transition duration-300 cursor-pointer">
                  <p>Pagos</p>
              </div>
              <div onclick="openRetirarModal()" class="bg-red-500 text-white py-3 rounded-lg shadow-md hover:bg-red-600 transition duration-300 cursor-pointer">
                  <p>Retirar</p>
              </div>
          </div>
          <!-- Últimos Movimientos -->
          <div class="mt-8">
              <h4 class="font-semibold text-gray-700">Últimos Movimientos</h4>
              <!-- <ul class="space-y-4 mt-4 text-sm text-gray-600">
                  <li v-for="movimiento in movimientos" :key="movimiento.descripcion" class="flex justify-between border-b pb-2">
                      <span>{{ movimiento.descripcion }}</span>
                      <span :class="movimiento.monto < 0 ? 'text-red-500' : 'text-green-500'">
          {{ movimiento.monto < 0 ? '- $' + Math.abs(movimiento.monto) : '$' + movimiento.monto }}
      </span>
                  </li>
              </ul> -->
          </div>

      </div>
  </div>
</div>
</div>



<!-- Footer -->
<footer >
  <div >
      <div >
          <p>&copy; 2025 Prestabank. Todos los derechos reservados.</p>
      </div>
  </div>
</footer>



