/* Footer ajustado */
footer {
    background: linear-gradient(to right, #1e3a8a, #4f46e5); 
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    width: 100%;
    margin-top: auto; 
    min-height: 8vh; 
}