<section class="py-12 flex flex-col items-center justify-center text-center bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100">
  <div class="container flex flex-col items-center justify-center text-center p-8 bg-white rounded-lg shadow-lg max-w-4xl">
      <h2 class="text-4xl font-extrabold text-gradient bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-600 to-pink-500 mb-8">Registro de Usuarios</h2>

      <div class="flex flex-col md:flex-row gap-6 items-center justify-center">
          <!-- Formulario -->
          <div class="max-w-2xl bg-white p-8 rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
              <form (ngSubmit)="createUser()">
                <!-- Input para el clienteId con el valor de register.fkCliente -->
                <div class="mb-6">
                  <label for="clienteId" class="block text-lg font-semibold text-gray-800">Cliente ID</label>
                  <input type="text" id="clienteId" placeholder="id" [(ngModel)]="register.fkCliente" name="clienteId" readonly
                    class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>

                <!-- Campo de nombre -->
                <div class="mb-6">
                    <label for="nombre" class="block text-lg font-semibold text-gray-800">Usuario</label>
                    <input type="text" id="nombre" name="nombre" [(ngModel)]="register.username"  required
                        class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <!-- Campo de contraseña -->
                <div class="mb-6">
                    <label for="password" class="block text-lg font-semibold text-gray-800">Contraseña</label>
                    <input type="password" id="password" name="password" [(ngModel)]="register.password"  required
                        class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <!-- Confirmar contraseña -->
                <div class="mb-6">
                    <label for="confirmPassword" class="block text-lg font-semibold text-gray-800">Confirmar Contraseña</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required
                        class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <!-- Botón de enviar -->
                <div class="flex justify-center">
                    <button type="submit" class="bg-gradient-to-r from-blue-600 to-purple-600 text-white px-8 py-4 rounded-lg shadow-md hover:bg-gradient-to-r hover:from-blue-700 hover:to-purple-700 transition-transform duration-300 transform hover:scale-105">
                        Registrarse
                    </button>
                </div>
              </form>
          </div>

          <!-- Carta informativa -->
          <div class="bg-gradient-to-r from-blue-200 to-purple-200 p-6 rounded-lg shadow-xl transition transform hover:scale-105 hover:bg-gradient-to-r hover:from-blue-300 hover:to-purple-300 hover:shadow-2xl max-w-sm">
              <h3 class="font-semibold text-lg text-blue-900">Advertencias y Recomendaciones</h3>
              <p class="text-gray-700 mt-2">Al registrar un nuevo usuario, se garantiza la seguridad de tus datos personales.</p>
              <p class="text-gray-700 mt-2">Prestabank se compromete a mantener la confidencialidad de la información personal y financiera de sus clientes.</p>
              <img src="./assets/img/logo_griz.png" class="w-full h-40 object-cover mt-4 rounded-lg transition-transform duration-300 transform hover:scale-105" alt="Logo Prestabank">
          </div>
      </div>
  </div>
</section>
