/* Mejora de diseño UX */
.container {
  max-width: 900px;
}

input,
button {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Estilo para la imagen */
img {
  object-fit: cover;
  max-height: 160px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}
